@model VMS.Models.Opportunity


<!DOCTYPE html>
<br /><br />
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Opportunity Creation Confirmation</title>
</head>
<body>
    <div>
        <h1 align="center">Success!</h1>
    </div>
</body>
</html>
