
<table width="60%" align="center">
    <tr align="center">
        <td>
            <h1>DeleteOpportunity</h1>
        </td>
    </tr>
    <tr align="center">
        <td>
            <p>Please press the delete button to delete an Opportunity</p>
        </td>
    </tr>
    <tr align="center">
        <td>
            

            <table border="1" width="100%">
                <tr>
                    <td><strong>Name</strong></td>
                    <td><strong>Location</strong></td>
                    <td><strong>Description</strong></td>
                    <td><strong>Time</strong></td>
                    <td><strong>Date Entered</strong></td>
                    <td><strong>Date Expired</strong></td>
                    <td><strong>Status</strong></td>
                    <td><strong>Delete</strong></td>
                </tr>
                <tr>
                    <td>Name</td>
                    <td>Location</td>
                    <td>Description</td>
                    <td>Time</td>
                    <td>Date Entered</td>
                    <td>Date Expired</td>
                    <td>Status</td>
                    <td><input type="submit" value="Delete" /></td>
                </tr>
                <tr>
                    <td>Name1</td>
                    <td>Location1</td>
                    <td>Description1</td>
                    <td>Time1</td>
                    <td>Date Entered1</td>
                    <td>Date Expired1</td>
                    <td>Status1</td>
                    <td><input type="submit" value="Delete1" /></td>
                </tr>
                <tr>
                    <td>Name2</td>
                    <td>Location2</td>
                    <td>Description2</td>
                    <td>Time2</td>
                    <td>Date Entered2</td>
                    <td>Date Expired2</td>
                    <td>Status2</td>
                    <td><input type="submit" value="Delete2" /></td>
                </tr>
            </table>
        </td>
    </tr>
</table>


