<br />
<br />
<table width="60%" align="center">
    <tr>
        <td>
            <h1 align="center">Manage Opportunity</h1>
        </td>
    </tr>
    <tr>
        <td align="center" >
            <select style="width: 300px;" onchange="location = this.options[this.selectedIndex].value;">>

                <option>Please select</option>

                <option value="Filter">Change Opportunity Filter</option>

                <option value="Search">Search Opportunity</option>

                <option value="Matches">Vew Volunteer Opportunity Matches</option>

                <option value="Edit">Edit Opportunity</option>

                <option value="Add">Add New Opportunity</option>

                <option value="DeleteOpportunity">Delete Opportunity</option>

            </select>
        </td>
    </tr>
</table>
