@*@model VMS.Models.AboutInfoInput
    @{
        Layout = null;
    }*@
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.css" />
    <style>
        body {
            word-spacing: 0.3em;
            background-color: #c5ece7;
            margin: 40px;
            padding: 0;
        }
    </style>
</head>
<body>
    <div class="text-left">
        <h3> About VMS</h3>
        <h5> The Volunteer Management System (VMS) is a web-based application that allows a nonprofit organization to collect volunteers’ information, track their participation in activities, and produce reports on their contributions made. The purpose of this document is to define the high-level requirements and features of a portion (only administrative features) of the Volunteer Management System (VMS).</h5>
        <div class="text-center">
            <p><a href="~/Home/Index">Home Page</a></p>
        </div>
    </div>
</body>
</html>
