@model VMS.Models.AboutInfoInput
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>My Profile</title>
    <link rel="stylesheet" href="/css/styles.css" />
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.css" />
</head>
<body>
    <div class="panel panel-success">
        <div class="panel-heading text-center"><h4>My Administrator Page</h4></div>
        <div class="panel-heading text-center"><h4>Manage Volunteers and Manage Opportunities.</h4></div>

        <div class="text-center">
            <a class="btn btn-primary" asp-action="Index">Home Page</a>
        </div>
        <div class="text-right">
            <a class="btn btn-primary" asp-action="UserEditAccount">Click here to edit your account</a>
        </div>
    </div>
</body>
</html>

