@*@{
        Layout = null;
    }*@
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.css" />
    <style>
        body {
            word-spacing: 0.5em;
            background-color: #c5ece7;
            margin: 40px;
            padding: 0;
        }

        img {
            border-style: dashed;
            border-width: 2px;
            border-color: #ccc;
            margin-top: auto;
        }
    </style>
</head>
<body>
    <div class="text-center">
        <img src="~/img/v1.jpg" width="1000" height="250" alt="logo">
    </div>

    <div class="text-center">
        <h3>Wellcome to Volunteer Management System (VMS)</h3>
        <h4>Already have an account; please login.<br /></h4>
        <a class="btn btn-primary" asp-action="UserLogin">Login</a>
        <h6> .                                                                                             . </h6>
        <h6> .                                                                                             . </h6>
        <h4>First time here; please contact your supervisor.</h4>
        <h6> .                                                                                             . </h6>
        <h6> .                                                                                             . </h6>
        <h4>(For more information about Volunteer Management System.)</h4>
        <a class="btn btn-primary" asp-action="AboutVMS">About Us</a>
    </div>

    <div>
        <h4 class="text-left">VMS helps you:</h4>

        <ul class="text-left">
            <li> Collect volunteers’ information.</li>
            <li> Track their participation in activities.</li>
            <li> Produce reports on their contributions made.</li>
        </ul>
        <div class="text-center">
            <h5>
                The purpose of this document is to define the high-level requirements & features of a portion of the Volunteer Management System (VMS).
            </h5>
            <h3 class="text-center">Let's All Work For a Better Future</h3>
            <p><a href="~/Opportunity/ManageOpportunity">Manage Opportunities</a> or <a href="~/Volunteer/ManageVolunteer">Manage Volunteers</a></p>
        </div>
    </div>
</body>
</html>