@model VMS.Models.UserLoginInput
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>WellcomeBack</title>
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.css" />
</head>
<body class="text-center">
    <p>
        <h3 class="text-center">Wellcome Back</h3>
    </p>
    
    <p>Go to <a class="btn btn-info btn-sm" asp-action="MyAdministratorPage"> My Administrator Page</a></p>
</body>
</html>
