
<table width="60%" align="center">
    <tr>
        <td>
            <h1 align="center">Manage Volunteer</h1>
        </td>
    </tr>
    <tr align="center">
        <td>
            <select style="width: 300px;" onchange="location = this.options[this.selectedIndex].value;">>

                <option>Please select</option>

                <option value="SearchVolunteer">Change Volunteer Filter</option>

                <option value="ViewVolunteerOpportunity">Vew Volunteer Opportunity Matches</option>

                <option value="VolunteerCreate">Add New Volunteer</option>

            </select>
        </td>
    </tr>
</table>