
<table width="60%" align="center">
    <tr>
        <td>
            <h1 align="center">Manage Volunteer</h1>
        </td>
    </tr>
    <tr align="center">
        <td>
            <select style="width: 300px;" onchange="location = this.options[this.selectedIndex].value;">>

                <option>Please select</option>

                <option value="filter">Change Volunteer Filter</option>

                <option value="Search">Search Volunteers</option>

                <option value="View">Vew Volunteer Opportunity Matches</option>

                <option value="Edit">Edit Volunteer</option>

                <option value="Add">Add New Volunteer</option>

            </select>
        </td>
    </tr>
</table>