@model List<VMS.Models.VolunteerOpportunity>
<br />
<br />
<table width="60%" align="center">
    <tr align="center">
        <td>
            <h1>View Volunteers/Opportunity</h1>
        </td>
    </tr>
    <tr align="center">
        <td>

            <table border="1" width="100%">
                <tr>
                    <td><strong>Volunteer Name</strong></td>
                    <td><strong>Center Name</strong></td>
                    <td><strong>Opportunity Description</strong></td>
                    
                </tr>
                @foreach (var oppvol in Model)
                {
                    <tr>
                        <td>@oppvol.VolunteerName</td>
                        <td>@oppvol.CenterName</td>
                        <td>@oppvol.Description</td>
                        
                    </tr>
                }

            </table>
        </td>
    </tr>
</table>


