@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Use this area to provide additional information. testing123</p>
<p>this is a new line </p>
<p>this is a new line </p>
<p>
    Randomness in the text cut xut xut it up f's in the chat'
</p>
<p>
    New line added 450pm

</p>

